@{
    ViewBag.Title = "About";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game - API Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Layout/css/main.css">
    <link href="~/bundles/bootstrap" rel="stylesheet" />
   
</head>

<div>
    Chào mừng bạn : <a href="#">@Session["UserName"]</a><br />
    <a href="/Register/Logout">Đăng xuất</a>
</div>


        <div class="colorlib-product">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                        <h2>Các loại câu hỏi</h2>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/history.jpg" width="200px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">History dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/History.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/Geography.jpg" width="200px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">GeoGraphy dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Geography.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/depositphotos_19103837-stock-photo-sports-equipment.jpg" width="200px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Sport dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Sport.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/Politics.jpg" width="100px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Politics dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Polititics.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/Art.jpg" width="150px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Art dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Art.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/Celebrites.jpg" width="200px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Celebrites dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Celebrites.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/Animals.jpg" width="200px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Animals dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Animals.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/Vehicles.png" width="300px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Vehicles dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Vehicles.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/Film.jpg" width="200px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Entertainment: Film dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Film.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/ca-si-son-tung-mtp-4.jpg" width="200px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Entertainment: Music dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/Music.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/VideoGame.jpg" width="200px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Entertainment: VideoGame dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/VideoGame.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/TV.jpg" width="300px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Entertainment: TV dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/TV.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4 text-center">
                        <div class="product-entry border">
                            <a href="#" class="prod-img">
                                <img src="~/Layout/Images/Random.jpg" width="300px" class="img-fluid">
                            </a>
                            <div class="desc">
                                <div class="subjects-item-title-subtext">Entertainment: Random câu hỏi dễ ẹc</div>
                                <a class="btn btn-primary-gradient" href="~/Layout/Game/RandomQuestion.html" role="button">Chơi ngay</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><a href="#" class="btn btn-primary btn-lg">Xem them</a></p>
                        </div>
                    </div>
                </div>
                        </div>



                    



                        <script src="~/Layout/Scripts/script.js"></script>
                    </div>
                    </body>

