@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    Chào mừng bạn : <a href="#">@Session["UserName"]</a><br />
    <a href="/Register/Logout">Đăng xuất</a>
</div>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">sangnguyenhuu1804@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">sangnguyenhuu1804@gmail.com</a>
</address>