
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center; background-color:orange; font-size:45px;">
        <b>Thư xác nhận email</b>
    </div>
    <pre>
            Chào quý ngài !
               Chúng tôi cần xác nhận địa chỉ Email của ngài để hoàn tất việc đăng ký !
            click <a href="@ViewBag.confirmationlink">Here</a>
</pre>
</body>
</html>
